{% extends "layout.html" %}

{% block title %}
  Acerca de - SIFUT Once Ideal
{% endblock %}

{% block content %}

  <div class="descripcion">
    <h1> Acerca del Once Ideal </h1>
    <p>
      El Once Ideal es un informe de <a href="http://sifut.net">SIFUT Costa Rica</a> para visualizar el puntaje en el Indice de Rendimiento de Jugador (IRJ) de cada integrante de los equipos de la primera división.
    </p>

    <p>
      La idea principal es lograr hacer medible mediante variables específicas el rendimiento de un jugador en un partido específico.
    </p>

    <p>
      La principal virtud que presenta este producto es que se aleja completamente de la subjetividad a la hora de ser elaborado. Con esto, no se centra en los equipos más mediáticos, ni en opiniones basadas en los colores de quien genera la lista.
    </p>
  </div>

{% endblock %}
